$background: #eee;

body {
    background-color: $background;
    font-family: Arial, Helvetica, sans-serif;
	padding: 2em;
	
	code {
		color: #333;
		background-color: #ddd;
		font-size: 1.1em;
	}
}
